################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/EmployeesHandler/CopilotIndices/17.14.878.3237
/.vs/EmployeesHandler/v17
/.vs
/EmployeeManagement/.vs/EmployeeManagement/CopilotIndices/17.14.878.3237
/EmployeeManagement/.vs/EmployeeManagement/DesignTimeBuild
/EmployeeManagement/.vs/EmployeeManagement/FileContentIndex
/EmployeeManagement/.vs/EmployeeManagement/v17
/EmployeeManagement/EmployeeManagement.Application/bin/Debug/net8.0
/EmployeeManagement/EmployeeManagement.Application/obj
/EmployeeManagement/EmployeeManagement.Domain/bin/Debug/net8.0
/EmployeeManagement/EmployeeManagement.Domain/obj
/EmployeeManagement/EmployeeManagement.Infrastructure/obj
/EmployeeManagement/EmployeeManagement.Infrastructure/bin/Debug/net8.0
/EmployeeManagement/EmployeeManagement.Api/obj
/EmployeeManagement/.vs/ProjectEvaluation
/EmployeeManagement/EmployeeManagement.Api/bin/Debug/net8.0
/EmployeeManagementClient/employee-management-client/.vscode
/EmployeeManagementClient/employee-management-client/public
/EmployeeManagementClient/employee-management-client/public/favicon.ico
/EmployeeManagement/obj/Sagittarius.Infrastructure.EntityFrameworkCore.targets
/EmployeeManagement/EmployeeManagement.Api/EmployeeManagement.Api.csproj.user
/EmployeeManagement/EmployeeManagement.Tests/obj/Debug/net8.0
/EmployeeManagement/EmployeeManagement.Tests/bin/Debug/net8.0
/EmployeeManagement/EmployeeManagement.Tests/obj
/EmployeeManagement/.vs/EmployeeManagement/copilot-chat/a49e270e/sessions
